main {
    padding: 0 40px;
}

.catalogoVinhos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px 0;
  }
  
  .catalogo h2 {
    text-align: center;
    margin-top: 20px;
    color: #333;
  }

  .cardVinho {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 350px;
    padding: 16px;
    text-align: center;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .cardVinho:hover {
    transform: scale(1.05);
    background-color: #8b0000;
    color: #ffff;
  }
  
  .cardVinho img {
    width: 100%;
    border-radius: 8px;
  }
  
  .cardVinho h3 {
    font-size: 1.1rem;
    margin: 12px 0 8px;
  }

  span {
    display: block;
    margin-bottom: 16px;
  }

  .btn-comprar {
    display: inline-block;
    background-color: #900;
    color: #fff;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 6px;
    font-weight: bold;
    transition: background-color 0.2s ease;
    margin-top: auto;
  }
  
  .btn-comprar:hover {
    background-color: #fff;
    color: #700;
  }
  

  